/* line 3, ../sass/dropdowns.scss */
.qtip-content {
  padding: 5px 20px;
}

/* line 5, ../sass/dropdowns.scss */
.cities_dropdown {
  border: 1px solid #ddd;
  width: 270px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
/* line 12, ../sass/dropdowns.scss */
.cities_dropdown a {
  display: block;
  padding: 15px 0 10px;
  font: 300 13px "Nokia Pure Text", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #4692C4;
}
/* line 20, ../sass/dropdowns.scss */
.cities_dropdown a.selected, .cities_dropdown a:hover {
  color: #545454;
}
/* line 24, ../sass/dropdowns.scss */
.cities_dropdown a h3 {
  font-size: 21px;
  line-height: 1;
}
/* line 29, ../sass/dropdowns.scss */
.cities_dropdown a img {
  float: left;
  margin: -4px 10px 0 0;
}
/* line 35, ../sass/dropdowns.scss */
.cities_dropdown li + li a {
  border-top: 1px solid rgba(221, 221, 221, 0.5);
}
