@import "compass/reset";
@import "compass/css3";
@import "map";
@import "debug";

.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }


@font-face {
  font-family: 'Nokia Pure Text';
  font-weight: light;
  src: url('/fonts/nokiapuretext_lt-webfont.eot');
  src:
    url('/fonts/nokiapuretext_lt-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/nokiapuretext_lt-webfont.woff') format('woff'),
    url('/fonts/nokiapuretext_lt-webfont.ttf')  format('truetype'),
    url('/fonts/nokiapuretext_lt-webfont.svg#Nokia Pure Text') format('svg');
}

@font-face {
  font-family: 'Nokia Pure Text';
  font-weight: bold;
  src: url('/fonts/nokiapuretext_bd-webfont.eot');
  src:
    url('/fonts/nokiapuretext_bd-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/nokiapuretext_bd-webfont.woff') format('woff'),
    url('/fonts/nokiapuretext_bd-webfont.ttf')  format('truetype'),
    url('/fonts/nokiapuretext_bd-webfont.svg#Nokia Pure Text') format('svg');
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  font: 300 17px "Nokia Pure Text", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #0bd;
}

.gradient {
  position: absolute;
  z-index: 20;
  left: 0;
  width: 100%;
  pointer-events: none;

  &.all {
    top: 0;
    z-index: 5;
    min-height: 100%;
    @include background(linear-gradient(top, rgba(#0bd, .2), rgba(#356095, .2) 100%));
  }

  &.top {
    top: 0;
    height: 50%;
    @include background(linear-gradient(top, #0bd 50%, rgba(#0bd, 0) 80%, rgba(#0bd, 0) 100%));
  }

  &.bottom {
    bottom: -10px;
    height: 135px;
    @include background(linear-gradient(bottom, #356095 0%, rgba(#356095, 0) 100%),linear-gradient(bottom, rgba(#000, .15) 0%, rgba(#000, 0) 100%));
  }
}

.header {
  margin-top: 50px;
  pointer-events: none;

  .title,
  .subtitle {
    display: inline-block;
    float: left;
    clear: left;
  }


  .title { margin: 0 0 -10px -5px; }

  .subtitle {
    position: relative;
    font-size: 31px;
    white-space: nowrap;
  }
}

.content {
  position: relative;
  z-index: 300;
  margin: 0 50px 0 42px;
  @include text-shadow(0 0 40px #000);

  p {
    margin-bottom: 20px;
    line-height: 1.2;

    &.last { margin-bottom: 0; }
  }
}

.inner {
  width: 670px;
  padding: 0 20px;
}
