@import "compass/reset";
@import "compass/css3";
@import "map";
@import "debug";

.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }


@font-face {
  font-family: 'Nokia Pure Text';
  src: url('/fonts/nokiapuretext-light-webfont.eot');
  src:
    url('/fonts/nokiapuretext-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/nokiapuretext-light-webfont.woff') format('woff'),
    url('/fonts/nokiapuretext-light-webfont.ttf')  format('truetype'),
    url('/fonts/nokiapuretext-light-webfont.svg#Nokia Pure Text') format('svg');
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font: 300 17px "Nokia Pure Text", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #0bd;
}

.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  min-height: 100%;
  @include background(linear-gradient(top, rgba(#0bd, .4), rgba(#356095, .4) 100%));
  pointer-events: none;
}

.push,
.gradient {
  height: 135px;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: image-url('gradient-bg.png') repeat-x bottom;
}

.logo {
  display: block;
  float: left;
  margin-bottom: 20px;
  pointer-events: auto;
}

.header {
  position: relative;
  z-index: 200;
  margin: 0 50px 0 42px;
  pointer-events: none;

  .title,
  .subtitle {
    display: inline-block;
    float: left;
    clear: left;
    padding: 0 20px;
    background: rgba(#000F1A, .85);
  }

  .title {
    margin-bottom: 30px;
  }

  .subtitle {
    position: relative;
    z-index: 100;
    padding: 10px 20px 0;
    font-size: 25px;
    margin: 0;
    white-space: nowrap;
  }

  .spinner_container{
    width: 30px;
    height: 30px;
  }

}

.menu_nav {
  position: relative;
  float: right;
  margin-top: 30px;

  li {
    float: left;
    margin-left: 20px;
  }

  a {
    color: rgba(#000, .35);
    font-size: 14px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  position: relative;
  z-index: 300;
  margin: 0 50px 60px 42px;
  @include text-shadow(0 0 40px #000);

  p {
    margin-bottom: 20px;
    line-height: 1.2;

    &.last { margin-bottom: 0; }
  }
}

.inner {
  width: 670px;
  padding: 0 20px;
}

.time {
  padding-left: 10px;
  width: 600px;
  font-size: 31px;
  line-height: 1;

  &:before {
    content: "";
    display: block;
    float: left;
    margin-left: -44px;
    margin-top: -10px;
    width: 44px;
    height: 48px;
    background: image-url('clock.png') no-repeat center center;
  }
}

.cities_nav {
  position: absolute;
  z-index: 200;
  bottom: 60px;
  display: block;
  min-width: 1206px;
  text-align: center;

  li {
    float: left;
    margin-left: 1px;
  }

  a {
    display: block;
    position: relative;
    width: 200px;
    height: 167px;
    text-decoration: none;

    &:hover {
      top: -10px;

      h3 {
        bottom: -20px;
        background: #000;
        color: #fff;
        padding: 23px 0 19px;
      }
    }
  }

  h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 13px 0 9px;
    font-size: 25px;
    line-height: 1;
    background: #fff;
    color: #000;
  }

  .shadow {
    display: block;
    height: 28px;
    width: 200px;
    position: absolute;
    bottom: 47px;
    background: image-url('city_shadow.png') no-repeat bottom;
  }
}

.home {
  min-height: 830px;

  .header {
    .title {
      font-size: 90px;
      line-height: 105px;
      width: 670px;
      letter-spacing: -3px;
    }
  }
}

.city {
  overflow: hidden;

  .header {
    .title {
      font-size: 70px;
      padding-top: 20px;
      line-height: 1;
    }

    .subtitle {
      padding-top: 30px;
      font-size: 25px;
      line-height: 0;
    }
  }

  .bubble {
    z-index: 400;
    @include opacity(.95);
  }

  .cities_nav { display: none; }
}
