@import "compass/reset";
@import "compass/css3";
@import "map";
@import "dropdowns";
@import "debug";

.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }


/*
 * Webfonts
 */

@font-face {
  font-family: 'Nokia Pure Text';
  font-weight: light;
  src: url('../fonts/nokiapuretext_lt-webfont.eot');
  src:
    url('../fonts/nokiapuretext_lt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nokiapuretext_lt-webfont.woff') format('woff'),
    url('../fonts/nokiapuretext_lt-webfont.ttf')  format('truetype'),
    url('../fonts/nokiapuretext_lt-webfont.svg#Nokia Pure Text') format('svg');
}

@font-face {
  font-family: 'Nokia Pure Text';
  font-weight: bold;
  src: url('../fonts/nokiapuretext_bd-webfont.eot');
  src:
    url('../fonts/nokiapuretext_bd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nokiapuretext_bd-webfont.woff') format('woff'),
    url('../fonts/nokiapuretext_bd-webfont.ttf')  format('truetype'),
    url('../fonts/nokiapuretext_bd-webfont.svg#Nokia Pure Text') format('svg');
}


/* ==========================================================================
   LAYOUT
   ========================================================================== */

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 980px;
  height: 100%;
  font: 300 19px "Nokia Pure Text", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.inner {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

strong { font-weight: bold; }


/* ==========================================================================
   MAP
   ========================================================================== */

section.map {
  position: relative;
  background: #0bd;
  height: 642px;
  overflow: hidden;
}


/*
 * Navigation
 */

.navigation {
  position: absolute;
  z-index: 500;
  height: 68px;
  width: 100%;
  background: #fff;

  &.top {
    position: fixed;
    z-index: 600;
    top: -92px;
    @include box-shadow(0 0 20px rgba(#000, .2));

    .button {
      background-color: #4690C0;

      &:hover { background-color: darken(#4690C0, 5%); }
    }
  }

  &.bottom {
    bottom: 0;
    border-bottom: 3px solid #ddd;

    .about_link { color: #FF4D4D; }
  }

  &.mapped {
    position: fixed;
    z-index: 600;
    top: auto !important;
    bottom: -92px;
    border-top: 1px solid rgba(#fff, .4);
    background: rgba(#fff, .2);

    a {
      color: #fff;

      &:hover { color: #fff; }
    }

    #dropdown_link { background-position: right -144px; }

    .inner {
      width: 100%;
      min-width: 980px;
      padding: 0;
    }

    .title { margin-left: 50px; }

    .menu { margin-right: 50px; }
  }

  .title {
    float: left;
    font-size: 27px;
    font-weight: bold;
    line-height: 68px;

    span { font-weight: 300; }
  }

  a {
    color: #4690C0;

    &:hover {
      color: #FF4D4D;
      text-decoration: underline;
    }
  }

  .social { margin-top: 19px; }
}

.menu {
  float: right;

  margin: 0 auto;

  li { float: left; }

  a {
    display: inline-block;
    text-decoration: none;
    line-height: 68px;
  }

  sup {
    position: relative;
    top: -4px;
    font-size: 12px;
  }
}

.sticky_menu a { margin-left: 30px; }

.cities_menu {
  float: none;

  a {
    border-left: 1px solid #ddd;
    padding: 0 49px;

    &.last { border-right: 1px solid #ddd; }
  }
}

#dropdown_link {
  padding-right: 20px;
  background: image-url('caret-sprite.png') no-repeat right 0;

  &:hover { background-position: right -72px; }
}

#dropdown_nav { display: none; }


/*
 * Header
 */
 
.header {
  width: 600px;

  .logo {
    float: left;
    margin-bottom: 90px;
    pointer-events: auto;
  }

  .title {
    float: left;
    clear: left;
    margin: 0 -5px -5px;
    font-size: 85px;
    line-height: 1;
    letter-spacing: -3px;
  }

  .subtitle {
    float: left;
    clear: left;
    font-size: 31px;
    white-space: nowrap;
    letter-spacing: -1px;
  }
}

.social {
  float: right;
  pointer-events: auto;

  .button {
    float: left;
    width: 35px;
    height: 30px;
    background: rgba(#000, .35) image-url('buttons-sprite.png') 0 96px;

    &:hover { background-color: rgba(#000, .4); }

    &.facebook {
      @include border-left-radius(5px);
    }

    &.twitter {
      margin-left: 1px;
      background-position: -6px 44px;
      @include border-right-radius(5px);
    }

    span { display: none; }
  }
}


/*
 * Content
 */

#content {
  z-index: 500;
  margin-top: 40px;
  pointer-events: none;
}

.content-inner {
  margin-top: 25px;
  width: 600px;

  p { line-height: 1.2; }
}


/* ==========================================================================
   ABOUT
   ========================================================================== */

section.about {
  padding: 40px 0;
  background: #f6f6f6 image-url('about-bg.png');
}

.section_title {
  color: #FF4C4C;
  font-size: 44px;
}

.section_description {
  font-size: 25px;
  line-height: 1.2;
  color: #777;
}

.layers {
  position: relative;
  margin-top: 30px;
  height: 490px;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
}

#data { background: image-url('about-l1.png') no-repeat center; }
#tech { background: image-url('about-l2.png') no-repeat center; }
#vizz { background: image-url('about-l3.png') no-repeat center; }

.feature {
  position: absolute;
  z-index: 100;
  padding: 20px 30px;
  width: 287px;
  font-size: 17px;
  line-height: 1.2;
  color: #666;
  background: rgba(#fff, .75);
  @include border-radius(4px);
  @include opacity(.4);
  @include transition(all .2s);

  &:hover { @include opacity(1); }

  &.feature-l:hover { margin-left: 5px; }
  &.feature-r:hover { margin-right: -5px; }

  h3 {
    margin-bottom: 10px;
    font-weight: 400;
    color: #202020;
  }
}

.data {
  top: 0;
  left: -30px;
}

.tech {
  bottom: 0;
  left: -30px;
}

.vizz {
  top: 175px;
  right: 0;
  width: 310px;
  text-align: right;
}

.footer {
  border-top: 1px solid rgba(#000, .15);
  padding: 55px 0;
  font-size: 14px;
  color: #c6c6c6;

  p { float: left; }

  a {
    color: #c6c6c6;
    @include transition(all .2s);

    &:hover { color: darken(#c6c6c6, 10%); }
  }

  ul { float: right; }

  li {
    float: left;
    margin-left: 5px;

    &.first {
      padding-right: 20px;
      text-align: right;
    }
  }

  .button {
    display: block;
    width: 100px;
    height: 80px;
    background: #ddd;
    @include border-radius(4px);
    @include transition(all .2s);

    &:hover {
      background: #ccc;
    }
  }
}