<div id="carrousel" class="{% if page.type == 'home' %}disabled{% endif %}">
  <div id="cities_container" class="clearfix">
    <p id="cities_switch">Switch to another city</p>

    <nav id="cities_nav">
      <ul>
        <li>
          <a href="/cities/#london" class="city-link {% if page.city == 'london' %}selected{% endif %}" data-map="london">
            <img src="/img/cities/london.jpg" alt="">
            <div class="shadow"></div>
            <h3 class="title">London</h3>
          </a>
        </li>

        <li>
          <a href="/cities/#chicago" class="city-link {% if page.city == 'chicago' %}selected{% endif %} chicago" data-map="chicago">
            <img src="/img/cities/chicago.jpg" alt="">
            <div class="shadow"></div>
            <h3 class="title">Chicago</h3>
          </a>
        </li>

        <li>
          <a href="/cities/#rome" class="city-link {% if page.city == 'rome' %}selected{% endif %} rome" data-map="rome">
            <img src="/img/cities/rome.jpg" alt="">
            <div class="shadow"></div>
            <h3 class="title">Rome</h3>
          </a>
        </li>

        <li>
          <a href="/cities/#helsinki" class="city-link {% if page.city == 'helsinki' %}selected{% endif %} helsinki" data-map="helsinki">
            <img src="/img/cities/helsinki.jpg" alt="">
            <div class="shadow"></div>
            <h3 class="title">Helsinki</h3>
          </a>
        </li>

        <li>
          <a href="/cities/#mumbai" class="city-link {% if page.city == 'mumbai' %}selected{% endif %} mumbai" data-map="mumbai">
            <img src="/img/cities/mumbai.jpg" alt="">
            <div class="shadow"></div>
            <h3 class="title">Mumbai</h3>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
