<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Nokia Here</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css" />
  <link href="/css/main.css" rel="stylesheet" />
  <script src="http://libs.cartocdn.com/cartodb.js/v2/cartodb.uncompressed.js"></script>
</head>
<body class="{{ page.type }}">
  {{ content }}

  <div id="wrapper">
    <div class="gradient top"></div>
    <div class="gradient bottom"></div>
  </div>

  {% include cities_nav.html %}


  <script src="/js/vendor/jquery-2.0.0.min.js"></script>
  <script src="/js/vendor/jquery-migrate-1.1.1.min.js"></script>
  <script src="/js/vendor/jquery-ui-1.10.2.custom.js"></script>
  <script src="/js/vendor/dat.gui.min.js"></script>
  <script src="/js/vendor/underscore.js"></script>


  <script src="/js/data/cities.js"></script>

  <script src="/js/events.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/leaflet_tileloader_mixin.js"></script>
  <script src="/js/canvas_layer.js"></script>
  <script src="/js/sprites.js"></script>
  <script src="/js/probs_density_layer.js"></script>
  <script src="/js/graph.js"></script>

  <script src="/js/map.js"></script>
  <script src="/js/carrousel.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/time_based_data.js"></script>
  <script src="/js/map/pois.js"></script>
  <script src="/js/map/bubbles.js"></script>
  <script src="/js/map/facts.js"></script>
  <script src="/js/map/share.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
  
